* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 500px;
    border: 2px solid #000;
}
a{ 
    text-decoration-line: none;
}

h2 {
    font-size: 30px;
}

dfn {
    font-weight: bold;
    font-size: 18px;
    background-color: #ff8000;
}

p {
    margin: 20px;
}