/* -- ul {
    list-style-type: square;
}

ol {
    /* -- 01, 02, 03, 04...
    list-style-type: decimal-leading-zero; */
    /* -- A, B, C, D... (con upper) a, b, c, d...(con lower) -- */
    /*list-style-type:upper-latin;
    /* -- También hay outside -- */
    /*list-style-position: inside;
} -- */

.menu {
    width: 100%;
    background-color: #ff8000;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}
.menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: #000;
}

.menu li a:hover {
    background-color: #5F9EA0;
    color: #00008B;
}